@import url('https://fonts.googleapis.com/css?family=Sail|Source+Sans+Pro:400,700');

* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #70b6eb;
}

#canvas {
  height: 100vh;
  width: 100vw;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

h2 {
  font-family: 'Sail', cursive;
  color: white;
  font-size: 38pt;
  padding: 0;
  margin: 0;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 9pt;
  color: rgba(0,0,0,0.5);
}

.menu {
  position: absolute;
  display: none;
  width: 400px;
  height: 300px;
  left: calc(50vw - 200px);
  top: calc(50vh - 150px);
  /*background-color: rgba(0,0,0,0.4);*/
  border-radius: 20px;
  text-align: center;
}

button {
  padding: 20px;
  width: 40%;
  position: absolute;
  bottom: 30px;
  left: 30%;
  background: none;
  background-color: rgba(255,255,255, 0.3);
  border: none;
  /*border: 2px solid white;*/
  /*border-radius: 25px;*/
  font-weight: 700;
  cursor: pointer;
  color: rgba(0,0,0,0.7);
}

button:active {
  outline: none;
}

#name {
  position: absolute;
  width: 40%;
  left: 30%;
  padding: 15px;
  bottom: 100px;
  border: none;
  background: none;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

#name:focus { outline: none; }

.users {
  /*display: none;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  background-color: rgba(255,255,255,0.2);
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  display: none;
  color: rgba(0,0,0,0.5);
}

.users ul {
  list-style: none;
  padding: 0 10px;
}

.users ul li {
  padding: 5px 0;
}

.users b {
  float: right;
  padding-right: 10px;
}

.self {
  color: black;
}


/* LEADERBOARD */
.healthbox {
  display: none;
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 30px;
  width: 120px;
  background-color: rgba(180,61,11,0.8);
}

.health {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #78d34e;
  transition: all 0.1s ease-in-out;
}

.gameMessage {
  position: absolute;
  display: none;
  right: 25%;
  top: 5%;
  width: 50%;
  height: 80px;
}

.gameMessage h3 {
  width: 100%;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(180,61,11);
  transition: all 0.3s ease-in-out;
}

.instructor {
  position: absolute;
  left: 20px;
  bottom: 20px;

  width: 300px;
}

.divider {
  height: 4px;
  background-color: rgba(255,255,255, 0.3);
  margin: 10px 0;
  width: 100%;
}

.instructor ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.instructor ul b { float: right; };

.loading {
  position: absolute;
  top: calc((50vh - 5vw / 2) - 30px);
  right: 47.5%;
  width: 5%;
  height: auto;

  -webkit-animation:spin 13s cubic-bezier(.47,.68,.68,1.12);
  -moz-animation:spin 13s cubic-bezier(.47,.68,.68,1.12);
  animation:spin 13s cubic-bezier(.47,.68,.68,1.12);
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(1440deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(1440deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(1440deg); transform:rotate(1440deg); } }