@import url('https://fonts.googleapis.com/css?family=Sail|Source+Sans+Pro:400,700');

* {
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}

#canvas {
  height: 100vh;
  width: 100vw;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

h2 {
  font-family: 'Sail', cursive;
  color: white;
  font-size: 38pt;
  padding: 0;
  margin: 0;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 9pt;
  color: rgba(0,0,0,0.5);
}

.menu {
  position: absolute;
  width: 400px;
  height: 300px;
  left: calc(50vw - 200px);
  top: calc(50vh - 150px);
  /*background-color: rgba(0,0,0,0.4);*/
  border-radius: 20px;
  text-align: center;
}

button {
  padding: 20px;
  width: 40%;
  position: absolute;
  bottom: 30px;
  left: 30%;
  background: none;
  border: 2px solid white;
  border-radius: 25px;
  cursor: pointer;
  color: white;
}

#name {
  position: absolute;
  width: 40%;
  left: 30%;
  padding: 15px;
  bottom: 100px;
  border: none;
  background: none;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

#name:focus { outline: none; }

.users {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 180px;
  background-color: rgba(255,255,255,0.2);
}

.userlist {

}